<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Employés /</span> Ajouter un employé
</h4>
<p-toast />
<div class="card">
  <div class="card-body">
   
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="name" class="form-label">Nom</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-fullname2" class="input-group-text"
                ><i class="bx bx-user"></i
              ></span>
              <input
                type="text"
                class="form-control"
                id="basic-icon-default-fullname"
                placeholder="John"
                aria-label="John"
                name="nom"
                formControlName="nom"
                
                aria-describedby="basic-icon-default-fullname2"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="email" class="form-label">Prénom</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-fullname2" class="input-group-text"
                ><i class="bx bx-user"></i
              ></span>
              <input
                type="text"
                class="form-control"
                id="basic-icon-default-fullname"
                placeholder="Doe"
                aria-label="Doe"
                name="prenom"
                formControlName="prenom"
                aria-describedby="basic-icon-default-fullname2"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="phone" class="form-label">Téléphone</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-phone2" class="input-group-text"
                ><i class="bx bx-phone"></i
              ></span>
              <input
                type="text"
                id="basic-icon-default-phone"
                class="form-control phone-mask"
                placeholder="658 799 8941"
                aria-label="658 799 8941"
                name="tel"
                formControlName="tel"
                aria-describedby="basic-icon-default-phone2"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="address" class="form-label">Adresse</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-phone2" class="input-group-text"
                ><i class="bx bx-home"></i
              ></span>
              <input
                type="text"
                id="basic-icon-default-phone"
                class="form-control phone-mask"
                placeholder="adresse"
                name="adresse"
                formControlName="adresse"
                aria-label="658 799 8941"
                aria-describedby="basic-icon-default-phone2"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="city" class="form-label">Sexe</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-phone2" class="input-group-text"
                ><i class="bx bx-male-sign"></i>
              </span>
              <select
                id="csp"
                name="sexe"
                formControlName="sexe"
                class="form-select"
                required
              >
                <option value="Féminin">Féminin</option>
                <option value="Masculin">Masculin</option>
             
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="state" class="form-label">Situation familliale</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-phone2" class="input-group-text"
                ><i class="bx bx-group"></i
              ></span>
              <input
                type="text"
                id="basic-icon-default-phone"
                class="form-control phone-mask"
                name="situationFamiliale"
                formControlName="situationFamiliale"
                aria-label="658 799 8941"
                aria-describedby="basic-icon-default-phone2"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="zip" class="form-label">Date De Naissance</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-phone2" class="input-group-text"
                ><i class="bx bx-calendar"></i
              ></span>
              <input
                type="date"
                id="basic-icon-default-phone"
                class="form-control phone-mask"
                name="dateNaissance"
                formControlName="dateNaissance"
                aria-describedby="basic-icon-default-phone2"
              />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <label for="company" class="form-label">Csp</label>
            <div class="input-group input-group-merge">
              <select
                id="csp"
                name="csp"
                formControlName="csp"
                class="form-select"
                required
              >
                <option *ngFor="let csp of csps" [ngValue]="csp.libelle">
                  {{ csp.libelle }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <label for="salary" class="form-label">Poste</label>
            <div class="input-group input-group-merge">
              <select
                id="csp"
                name="poste"
                formControlName="poste"
                class="form-select"
                required
              >
                <option *ngFor="let p of postes" [ngValue]="p.libelle">
                  {{ p.libelle }}
                </option>
              </select>
            </div>
          </div>
        </div>
     
      </div>
    </form>
    <div class="divider">
      <div class="divider-text">Contrat</div>
    </div>
    <form #f="ngForm">
      <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="birthday" class="form-label">Type de contrat</label>
          <div class="input-group input-group-merge">
            <select
              id="csp"
              name="type"
              [(ngModel)]="contrat.type"
              class="form-select"
              required
            >
              <option value="CDD">CDD</option>
              <option value="CDI">CDI</option>
              <option value="STAGE">STAGE</option>
              <option value="INTERIM">INTERIM</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="" class="form-label">Date De Debut</label>
          <div class="input-group input-group-merge">
            <span id="basic-icon-default-phone2" class="input-group-text"
              ><i class="bx bx-money"></i
            ></span>
            <input
              type="date"
              id="basic-icon-default-phone"
              class="form-control phone-mask"
              name="dateDebut"
              [(ngModel)]="contrat.dateDebut"
              aria-describedby="basic-icon-default-phone2"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="" class="form-label">Date de Fin</label>
          <div class="input-group input-group-merge">
            <span id="basic-icon-default-phone2" class="input-group-text"
              ><i class="bx bx-phone"></i
            ></span>
            <input
              type="date"
              id="basic-icon-default-phone"
              class="form-control phone-mask"
              name="dateFin"
              [(ngModel)]="contrat.dateFin"
              aria-describedby="basic-icon-default-phone2"
            />
          </div>
        </div>
      </div>
    </div>
    </form>
    <button type="submit" class="btn btn-primary" (click)="add()">Ajouter</button>
  </div>
</div>
