<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Postes /</span> Liste des postes
</h4>
<p-toast />
<div class="d-flex justify-content-between align-items-left mb-3">
  <div class="col-md-4">
    <input
      class="form-control"
      type="search"
      placeholder="Rechercher..."
      id="html5-search-input"
      [(ngModel)]="searchItem"
      (input)="onSearch()"
    />
  </div>
  <!-- Bouton Ajouter -->
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addModal"
  >
    Ajouter
  </button>
</div>

<div class="card">
  <div class="table-responsive text-nowrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Référence</th>
          <th>libellé</th>
          <th>Niveau d'étude</th>
          <th>Niveau de Salaire</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        @for (item of paginate; track $index) {
        <tr>
          <td>
            <strong>{{ item.reference }}</strong>
          </td>
          <td>
            <strong>{{ item.libelle }}</strong>
          </td>
          <td>{{ item.niveauEtude }}</td>
          <td>{{ item.niveauDeSalaire | currency : "XOF" : "code" }}</td>

          <td>
            <div class="dropdown">
              <button
                type="button"
                class="btn p-0 dropdown-toggle hide-arrow"
                data-bs-toggle="dropdown"
              >
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal"
                  (click)="afficher(item)"
                  ><i class="bx bx-edit-alt me-1"></i>détails</a
                >
                <a
                  class="dropdown-item"
                  (click)="item.id ? deletePoste(item.id) : null"
                  ><i class="bx bx-trash me-1"></i>supprimer</a
                >
              </div>
            </div>
          </td>
        </tr>
        }@empty {
        <tr>
          <td colspan="5" class="text-center">Aucun poste trouvé</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-3">
  <div class="d-flex justify-content-end align-items-center">
    <app-pagination
      [totalItems]="postes.length"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      (pageChanged)="onPageChange($event)"
    >
    </app-pagination>
  </div>
</div>
<!-- Modal (Fenêtre add) -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Ajouter un nouveau Poste</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Contenu du formulaire ou autre contenu à ajouter -->
        <form [formGroup]="posteForm">
          <div class="mb-3">
            <label for="nom" class="form-label">Libellé</label>
            <input
              type="text"
              formControlName="libelle"
              name="libelle"
              class="form-control"
              placeholder="Entrez le libellé du poste"
            />
          </div>
          <div class="mb-3">
            <label for="inputGroupSelect04">
              Veuillez sélectionner le secteur</label
            >
            <div class="input-group">
              <select
                class="form-select"
                id="inputGroupSelect04"
                required
                formControlName="secteur"
                name="secteur"
              >
                <option [selected]="true" >Choisir...</option>
                @for (item of secteurList; track $index) {
                <option [ngValue]="item.libelle">{{ item.libelle }}</option>
                }
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label">Niveau d'étude</label>
            <input
              type="text"
              class="form-control"
              formControlName="niveauEtude"
              name="niveauEtude"
              placeholder="bac+2"
            />
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              formControlName="description"
              name="description"
              placeholder="description du poste"
            />
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label">Salaire</label>
            <input
              type="text"
              class="form-control"
              formControlName="niveauDeSalaire"
              name="niveauDeSalaire"
              placeholder="niveau de salaire"
            />
          </div>

          <div class="mb-3">
            <label for="prenom" class="form-label">Remarque</label>
            <input
              type="text"
              class="form-control"
              formControlName="remarque"
              name="remarque"
              placeholder="remarque "
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>
        <button type="submit" class="btn btn-primary" (click)="addPoste()">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal (Fenêtre modification) -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Detail du Poste</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Contenu du formulaire ou autre contenu à ajouter -->
        <form [formGroup]="posteForm">
          <div class="mb-3">
            <label for="nom" class="form-label">Libellé</label>
            <input
              type="text"
              formControlName="libelle"
              name="libelle"
              class="form-control"
              placeholder="Entrez le libellé du poste"
            />
          </div>
          <div class="mb-3">
            <label for="nom" class="form-label">Secteur</label>
            <input
              type="text"
              formControlName="secteur"
              name="secteur"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label">Niveau d'étude</label>
            <input
              type="text"
              class="form-control"
              formControlName="niveauEtude"
              name="niveauEtude"
              placeholder="bac+2"
            />
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              formControlName="description"
              name="description"
              placeholder="description du poste"
            />
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label">Salaire</label>
            <input
              type="text"
              class="form-control"
              formControlName="niveauDeSalaire"
              name="niveauDeSalaire"
              placeholder="niveau de salaire"
            />
          </div>

          <div class="mb-3">
            <label for="prenom" class="form-label">Remarque</label>
            <input
              type="text"
              class="form-control"
              formControlName="remarque"
              name="remarque"
              placeholder="remarque "
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>
        <button type="submit" class="btn btn-primary" (click)="update()">
          Modifier
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal (Fenêtre) pour la suppression -->
<div class="card flex justify-content-center">
  <p-toast />
  <p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
      <div
        class="flex flex-column align-items-center p-5 surface-overlay border-round"
      >
        <div
          class="border-circle bg-warning inline-flex justify-content-center align-items-center h-6rem w-6rem"
        >
          <i class="pi pi-question text-5xl"></i>
        </div>
        <span class="font-bold text-2xl block mb-2 mt-4">
          {{ message.header }}
        </span>
        <p class="mb-0">{{ message.message }}</p>
        <div class="flex align-items-center gap-2 mt-4">
          <button
            pButton
            label="Supprimer"
            (click)="cd.accept()"
            class="w-8rem m-2"
          ></button>
          <button
            pButton
            label="Annuler"
            (click)="cd.reject()"
            class="p-button-outlined w-8rem"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>
