<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Tableau de bord/</span>Suivi du personnel
</h4>

<div class="row mb-3">
  <div class="col-lg-6 col-md-6 ">
    <div class="row">
      <div class="col-sm-12">
        <div [chart]="SexePieChart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 ">
    <div class="row">
      <div class="col-sm-12">
        <div [chart]="AgeBarChart"></div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-6 col-md-6 ">
    <div class="row">
      <div class="col-sm-12">
        <div [chart]="SecteurPieChart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 ">
    <div class="row">
      <div class="col-sm-12">
        <div [chart]="ContratPieChart"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 ">
    <div class="row">
      <div class="col-sm-12">
        <div [chart]="CspBarChart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 ">
    <div class="row">
      <div class="col-sm-12">
        <div [chart]="DepartLineChart"></div>
      </div>
    </div>
  </div>
</div>
