.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s ease, transform 0.3s ease;
  }
  
  .step.active .circle {
    background-color: #696cff;
  }
  
  .line {
    height: 2px;
    flex-grow: 1;
    background-color: #e0e0e0;
    margin: 0 10px;
  }
  
  .line.completed {
    background-color: #696cff;
  }
  
  p {
    margin-top: 5px;
    font-size: 14px;
    color: #6c757d;
  }
  
  .step.active p {
    color: #696cff;
  }
  