.job-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px;
    width: 300px;
    justify-content: space-between;
  }
  .a{
    text-decoration: none;
    color: black;
  }
  
  .header {
    display: flex;
   
    border-radius: 5%;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .header img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
  
  .title h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .title p {
    margin: 0;
    font-size: 12px;
    color: #8692a6;
  }
  
  .details p {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 8px 0;
    color: #3e4c59;
  }
  
  .details i {
    margin-right: 8px;
  }
  
  .tags {
    margin-top: 8px;
    display: flex;
    gap: 8px;
  }
  
  .tag {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
  }
  
  .full-time {
    background-color: #ff6b6b;
  }
  
  .expert {
    background-color: #1dd1a1;
  }
  
  .progress {
    margin: 16px 0;
    height: 4px;
    background-color: #f1f1f1;
    border-radius: 2px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #ff9f43;
    border-radius: 2px;
  }
  
  .progress-info {
    font-size: 12px;
    color: #8692a6;
    text-align: right;
  }
  