<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Absences /</span> Liste des absences
</h4>

<div class="d-flex justify-content-end align-items-center mb-3">

  <!-- Bouton Ajouter -->
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addModal"
  >
    Ajouter
  </button>
</div>
<!-- Striped Rows -->
<div class="card">
  <div class="table-respon sive text-nowrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Motif</th>
          <th>Date de début</th>
          <th>Date de retour</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let item of absences">
          <td> <a [routerLink]="">{{item.employe?.nom}}{{item.employe?.prenom}} </a></td>
         
          <td>{{item.type}}</td>
          <td>{{item.dateDebut | date:'dd-MM-yyyy'}}</td>
          <td>{{item.dateFin | date:'dd-MM-yyyy'}}</td>
          <td>
            <div class="dropdown">
              <button
                type="button"
                class="btn p-0 dropdown-toggle hide-arrow"
                data-bs-toggle="dropdown"
              >
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);"
                  ><i class="bx bx-edit-alt me-1"></i> modifier</a
                >
                <a class="dropdown-item" (click)="item.id ? supprimer(item.id) : null"
                  ><i class="bx bx-trash me-1"></i> supprimer</a
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal (Fenêtre) pour l'ajout d'absence -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">
          Ajouter une absence
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Contenu du formulaire ou autre contenu à ajouter -->
        <form [formGroup]="abForm" >
          <div class="mb-3">
            <label for="nom" class="form-label">Veuillez sélectionner l'employé concerné</label>
            <select id="defaultSelect" class="form-select" name="employe" formControlName="employe">
              <option *ngFor="let item of employes" [ngValue]="item">{{item.nom}} {{item.prenom}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label">Motif</label>
            <input
              type="text"
              class="form-control"
              formControlName="type"
              name="type"
              placeholder="Entrez le motif"
            />
          </div>
          <div class="mb-3">
            <label for="moyenne" class="form-label">Début</label>
            <input
              type="date"
              class="form-control"
              formControlName="dateDebut"
              name="dateDebut"
              placeholder="Entrez la la date de début"
            />
          </div>
          <div class="mb-3">
            <label for="moyenne" class="form-label">Retour</label>
            <input
              type="date"
              formControlName="dateFin"
              name="dateFin"
              class="form-control"
          
              placeholder="Entrez la date de retour"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>
        <button type="submit" class="btn btn-primary" (click)="add()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal (Fenêtre) pour la suppression -->
<div class="card flex justify-content-center">
  <p-toast />
  <p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
      <div
        class="flex flex-column align-items-center p-5 surface-overlay border-round"
      >
        <div
          class="border-circle bg-warning inline-flex justify-content-center align-items-center h-6rem w-6rem"
        >
          <i class="pi pi-question text-5xl"></i>
        </div>
        <span class="font-bold text-2xl block mb-2 mt-4">
          {{ message.header }}
        </span>
        <p class="mb-0">{{ message.message }}</p>
        <div class="flex align-items-center gap-2 mt-4">
          <button
            pButton
            label="supprimer"
            (click)="cd.accept()"
            class="w-8rem"
          ></button>
          <button
            pButton
            label="Annuler"
            (click)="cd.reject()"
            class="p-button-outlined w-8rem"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>
