.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Hauteur de la fenêtre */
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
  }