<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Départs /</span> Liste des Départs
</h4>
<div class="container py-3">
  <div class="row g-4">
    <!-- Annual Leaves -->
    <div class="col-md-6 col-lg-3">
      <div class="leave-card bg-light">
        <div>
          <h6>RETRAITE</h6>
          <h4>{{ counts["RETRAITE"] }}</h4>
        </div>
        <div class="leave-card-icon bg-success">
          <i class="bx bx-calendar"></i>
        </div>
      </div>
    </div>

    <!-- Medical Leaves -->
    <div class="col-md-6 col-lg-3">
      <div class="leave-card bg-light">
        <div>
          <h6>LICENCIEMENT</h6>
          <h4>
            {{ counts["LICENCIEMENT"] + counts["RUPTURE CONVENTIONNELLE"] }}
          </h4>
        </div>
        <div class="leave-card-icon bg-primary">
          <i class="bx bx-plus-medical"></i>
        </div>
      </div>
    </div>

    <!-- Casual Leaves -->
    <div class="col-md-6 col-lg-3">
      <div class="leave-card bg-light">
        <div>
          <h6>DEMISSION</h6>
          <h4>{{ counts["DEMISSION"] }}</h4>
        </div>
        <div class="leave-card-icon bg-info">
          <i class="bx bx-calendar-check"></i>
        </div>
      </div>
    </div>

    <!-- Other Leaves -->
    <div class="col-md-6 col-lg-3">
      <div class="leave-card bg-light">
        <div>
          <h6>AUTRES</h6>
          <h4>
            {{ counts["DECES"] + counts["FIN DE CONTRAT"] }}
          </h4>
        </div>
        <div class="leave-card-icon bg-warning">
          <i class="bx bx-box"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end align-items-center mb-3">
  <!-- Bouton Ajouter -->
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addModal"
  >
    Ajouter
  </button>
</div>
<!-- Striped Rows -->
<div class="card">
  <p-toast />
  <div class="table-responsive text-nowrap">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Employé</th>
          <th>Raison</th>
          <th>Date de sortie</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        @for (item of paginate; track $index) {
        <tr>
          <td>
            <strong>{{ item.employe }}</strong>
          </td>

          <td>{{ item.raison }}</td>
          <td>{{ item.dateDepart }}</td>
        </tr>
        }@empty {
        <tr>
          <td colspan="4" class="text-center">Aucun Départ enregitré</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <!--/ Striped Rows -->
  <!-- Modal (Fenêtre) -->
  <div
    class="modal fade"
    id="addModal"
    tabindex="-1"
    aria-labelledby="addModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">
            Ajouter un nouveau départ
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Contenu du formulaire ou autre contenu à ajouter -->
          <form [formGroup]="departForm">
            <div class="mb-3">
              <label for="nom" class="form-label">
                Veuillez sélectionner l'employé Concerné</label
              >
              <select
                id="defaultSelect"
                class="form-select"
                name="employe"
                formControlName="employe"
              >
                @for (item of employes; track $index) {
                <option [ngValue]="item.nom + ' ' + item.prenom">
                  {{ item.nom + " " + item.prenom }}
                </option>
                }@empty {
                <option>Aucun employé enregistré</option>
                }
              </select>
            </div>
            <div class="mb-3">
              <label for="nom" class="form-label">
                Veuillez sélectionner la cause du départ</label
              >
              <select
                id="defaultSelect"
                class="form-select"
                name="raison"
                formControlName="raison"
              >
                <option selected>Choisissez une option ...</option>
                <option ngValue="DEMISSION">DEMISSION</option>
                <option ngValue="LICENCIEMENT">LICENCIEMENT</option>
                <option ngValue="FIN DE CONTRAT">FIN DE CONTRAT</option>
                <option ngValue="RUPTURE CONVENTIONNELLE">
                  RUPTURE CONVENTIONNELLE
                </option>
                <option ngValue="RETRAITE">RETRAITE</option>
                <option ngValue="DECES">DECES</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button type="submit" class="btn btn-primary" (click)="add()">
            Enregistrer
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal (Fenêtre) pour la suppression -->
  <div class="card flex justify-content-center">
    <p-toast />
    <p-confirmDialog #cd>
      <ng-template pTemplate="headless" let-message>
        <div
          class="flex flex-column align-items-center p-5 surface-overlay border-round"
        >
          <div
            class="border-circle bg-warning inline-flex justify-content-center align-items-center h-6rem w-6rem"
          >
            <i class="pi pi-question text-5xl"></i>
          </div>
          <span class="font-bold text-2xl block mb-2 mt-4">
            {{ message.header }}
          </span>
          <p class="mb-0">{{ message.message }}</p>
          <div class="flex align-items-center gap-2 mt-4">
            <button
              pButton
              label="Save"
              (click)="cd.accept()"
              class="w-8rem"
            ></button>
            <button
              pButton
              label="Cancel"
              (click)="cd.reject()"
              class="p-button-outlined w-8rem"
            ></button>
          </div>
        </div>
      </ng-template>
    </p-confirmDialog>
  </div>
</div>
<div class="row mt-3">
  <div class="d-flex justify-content-end align-items-center">
    <app-pagination
      [totalItems]="departs.length"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      (pageChanged)="onPageChange($event)"
    >
    </app-pagination>
  </div>
</div>
